.icon-only {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    --utrecht-button-inline-size: var(--spacing-large);
    aspect-ratio: 1;
    --utrecht-button-padding-inline-start: 0;
    --utrecht-button-padding-inline-end: 0;
    --utrecht-button-padding-block-start: 0;
    --utrecht-button-padding-block-end: 0;
}

.icon-before,
.icon-after {
    align-items: center;
}

.icon-after::after,
.icon-before::before {
    display: block;
    content: "";
    background-color: currentColor;
    mask-repeat: no-repeat;
    inline-size: 1rem;
    block-size: 1rem;
}

.icon-large::after,
.icon-large::before {
    inline-size: 1.5rem;
    block-size: 1.5rem;
}

.icon-before.chevron-down::before,
.icon-after.chevron-down::after {
    block-size: 0.6rem;
    mask-image: url("@/assets/icons/chevron-down.svg");
}

.icon-before.circle-xmark::before,
.icon-after.circle-xmark::after {
    mask-image: url("@/assets/icons/circle-xmark.svg");
}

.icon-before.filter::before,
.icon-after.filter::after {
    mask-image: url("@/assets/icons/filter.svg");
}

.icon-before.check::before,
.icon-after.check::after {
    mask-image: url("@/assets/icons/check.svg");
}

.icon-before.phone-flip::before,
.icon-after.phone-flip::after {
    mask-image: url("@/assets/icons/phone-flip.svg");
}

.icon-before.note::before,
.icon-after.note::after {
    mask-image: url("@/assets/icons/note.svg");
}

.icon-before.book::before,
.icon-after.book::after {
    mask-image: url("@/assets/icons/book.svg");
}

.icon-before.pen::before,
.icon-after.pen::after {
    mask-image: url("@/assets/icons/pen.svg");
}

.icon-before.xmark::before,
.icon-after.xmark::after {
    inline-size: 0.75rem;
    block-size: 0.75rem;
    mask-image: url("@/assets/icons/xmark.svg");
}

.icon-before.plus::before,
.icon-after.plus::after {
    mask-image: url("@/assets/icons/plus.svg");
}

.icon-before.alert::before,
.icon-after.alert::after {
    mask-image: url("@/assets/icons/alert.svg");
}

.icon-before.trash::before,
.icon-after.trash::after {
    mask-image: url("@/assets/icons/trash.svg");
}

.icon-before.loupe::before,
.icon-after.loupe::after {
    mask-image: url("@/assets/icons/loupe.svg");
}
