:root {
    // colors
    --color-primary: #415a77;
    --color-primary-hover: #7d9abf;
    --color-secondary: #eceff1;
    --color-tertiary: #778da9;
    --color-headings: #1b263b;
    --color-accent: #258839;
    --color-accent-hover: #89cf5e;
    --color-accent-hover-text: var(--color-headings);
    --color-error: #c82d2d;
    --color-error-hover: #f47171;
    --color-error-hover-text: var(--color-headings);
    --color-warning: orange;
    --color-category-default: hsl(184, 54%, 70%);
    --color-category-website: hsl(285, 56%, 83%);
    --color-white: #fff;
    --color-white-hover: #e4e8ee;
    --sidebar-color-1: var(--color-headings);
    --sidebar-color-2: var(--color-primary);
    --color-grey: #999;

    // spacing
    --container-width: 80rem;
    --container-padding: max(var(--spacing-large), calc(50vw - var(--container-width) / 2));
    --section-width: 30.75rem;
    --section-width-small: 20rem;
    --section-width-large: 60rem;

    --spacing-extrasmall: 0.25rem;
    --spacing-small: 0.5rem;
    --spacing-default: 1rem;
    --spacing-large: 2rem;
    --spacing-extralarge: 6rem;

    --header-height: 6rem;
    --text-margin: 1.5rem;

    --line-height-default: 1.5;

    // other
    --radius-default: 0.5rem;
    --radius-medium: 1rem;
    --radius-large: 1.5rem;

    --height-body: 100vh;

    --shadow-default: 0 0 0.2857142857em 0 rgb(0 0 0 / 20%);

    --outline-color: rgb(16, 16, 16);
    --outline-width: 1px;
    --outline-style: auto;
    --outline-offset: 1px;
}

.kiss-theme {
    --font-family: "Open Sans", sans-serif;
    --utrecht-paragraph-font-family: var(--font-family);
    --utrecht-paragraph-color: black;
    --utrecht-heading-font-family: var(--font-family);
    --utrecht-document-font-family: var(--font-family);
    --utrecht-document-font-size: 1rem;
    --utrecht-document-color: black;
    --utrecht-heading-color: var(--color-headings);
    --utrecht-paragraph-font-size: 1rem;
    --utrecht-heading-font-weight: 600;
    --denhaag-pagination-color: var(--color-primary);
    --denhaag-pagination-link-current-color: var(--color-headings);
    --utrecht-border-width-sm: 1px;
    --utrecht-color-grey-90: var(--color-tertiary);

    /* h1 */
    --utrecht-heading-1-line-height: 4.25rem;
    --utrecht-heading-1-font-size: 2.5rem;

    /* h2 */
    --utrecht-heading-2-line-height: 2rem;
    --utrecht-heading-2-font-size: 1.5rem;

    /* h3 */
    --utrecht-heading-3-line-height: 2rem;
    --utrecht-heading-3-font-size: 1.25rem;

    --utrecht-heading-4-font-size: 1rem;

    /* button */
    --utrecht-button-border-width: 2px;
    --utrecht-button-focus-border-color: transparent;
    --utrecht-button-disabled-border-color: transparent;
    --utrecht-button-hover-border-color: transparent;
    --utrecht-button-border-radius: var(--radius-large);
    --utrecht-button-min-inline-size: 16ch;
    --utrecht-button-icon-gap: 0.75rem;

    --utrecht-button-hover-border-color: transparent;

    --utrecht-button-padding-inline-start: var(--spacing-default);
    --utrecht-button-padding-inline-end: var(--spacing-default);
    --utrecht-button-min-block-size: var(--spacing-default);

    --utrecht-button-padding-block-start: var(--spacing-small);
    --utrecht-button-padding-block-end: var(--spacing-small);

    --utrecht-button-primary-action-border-color: transparent;
    --utrecht-button-primary-action-background-color: var(--color-primary);
    --utrecht-button-primary-action-color: var(--color-white);
    --utrecht-button-primary-action-hover-background-color: var(--color-primary-hover);
    --utrecht-button-primary-action-hover-color: black;

    --utrecht-button-secondary-action-border-color: var(--color-primary);
    --utrecht-button-secondary-action-color: var(--color-primary);
    --utrecht-button-secondary-action-hover-color: var(--color-primary-hover);
    --utrecht-button-secondary-action-hover-border-color: var(--color-primary-hover);
    --utrecht-button-secondary-action-focus-background-color: transparent;
    --utrecht-button-secondary-action-background-color: transparent;

    --utrecht-focus-outline-color: var(--outline-color);
    --utrecht-focus-outline-width: var(--outline-width);
    --utrecht-focus-outline-offset: var(--outline-offset);
    --utrecht-focus-outline-style: var(--outline-style);

    /* forms */
    --utrecht-form-fieldset-legend-font-size: 1.5rem;
    --utrecht-form-fieldset-legend-font-weight: 600;
    --utrecht-form-fieldset-legend-line-height: 2rem;

    --utrecht-form-label-font-weight: 600;
    --utrecht-form-label-font-size: 1rem;
    --utrecht-form-label-color: var(--color-headings);

    --utrecht-form-input-background-color: var(--color-white);
    --utrecht-form-input-border-color: var(--color-primary);
    --utrecht-form-input-border-radius: var(--radius-default);
    --utrecht-form-input-border-width: 1px;
    --utrecht-form-input-color: black;
    --utrecht-form-input-font-size: 1.125rem;

    --utrecht-form-input-padding-block-end: var(--spacing-small);
    --utrecht-form-input-padding-block-start: var(--spacing-small);
    --utrecht-form-input-padding-inline-end: var(--spacing-small);
    --utrecht-form-input-padding-inline-start: var(--spacing-small);

    --utrecht-form-input-placeholder-color: var(--color-grey);

    --utrecht-form-input-disabled-border-color: var(--color-grey);
    --utrecht-form-input-disabled-color: var(--color-grey);

    --utrecht-form-input-invalid-border-color: var(--color-error);
    --utrecht-select-invalid-border-color: var(--color-error);

    /* pagination */
    --denhaag-pagination-link-current-disabled-color: var(-color-white);
    --denhaag-pagination-link-current-disabled-background-color: var(--color-grey);
    --denhaag-pagination-link-current-font-weight: 600;
    --denhaag-pagination-size: var(--spacing-large);
    --denhaag-pagination-link-disabled-color: var(--color-grey);
    --denhaag-pagination-arrow-size: var(--spacing-default);
    --denhaag-link-focus-outline: var(--utrecht-focus-outline-color) var(--utrecht-focus-outline-style)
        var(--utrecht-focus-outline-width);

    /* HACKS: there are no design tokens for this */
    .utrecht-button:focus:not(:focus-visible) {
        --utrecht-focus-outline-style: none;
        --utrecht-primary-action-focus-outline-style: none;
    }

    .utrecht-button:not(.utrecht-button--subtle) {
        box-shadow: var(--shadow-default);
    }

    .utrecht-button:active:not(:disabled) {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15) !important;
        scale: 98%;
    }

    .utrecht-button.utrecht-button--subtle {
        &:not(:disabled):hover {
            --utrecht-button-hover-border-color: currentColor;
        }
    }
}
